<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new product</title>
    <link rel="stylesheet" href="../style/bulma-0.7.5/css/bulma.min.css">

</head>
<body>
    <div class="columns">
        <form class="column">
            <div class="field">
                <div class="control">
                    <input type="text" id="name" class="input" placeholder="Product's name" autofocus>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" id="price" class="input" placeholder="Product's price" autofocus>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <textarea name="description" id="description"  class="textarea"
                    placeholder="Description"></textarea>
                </div>
            </div>
            <div class="is-12">
                <a class="button is-primary">Save product</a>
            </div>
            
        </form>
    </div>
    
</body>
</html>